@import url(css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.clearfix{
    clear: both;
}
.clearfix::after{
    display: block;
    content:"";
    clear: both;
}

/* Typography */
h1{
    font-size: 2rem;
    line-height: 2.2rem;
}
h2{
    font-size: 1.8rem;
    line-height: 2rem;
}
h3{
    font-size: 1.4rem;
    line-height: 1.6rem;
}
h4{
    font-size: 1rem;
    line-height: 1.2rem;
}
h4{
    font-size: 0.9rem;
    line-height: 1.1rem;
}
h6{
    font-size: 0.8rem;
    line-height: 1rem;
}

/* Layout */

/* Header */

/* App row */

#app-row{
    height: 80px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

#app-row>.container{

    height: 100%;
    padding: 10px 0;

}

#boc-logo{
    height: 60px;
}
#app-row>.container>.wrapper{
    float: right;
    height: 100%;
}

#nav-lang li{
    float: left;
    padding-left: 20px;
    
}
#nav-lang li a{
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}

#nav-lang li a:hover{
    color:#ff9d1e;
    text-decoration: underline;
}

#nav-lang{
    float: right;
}

#main-nav{
    float: left;
    padding-top: 10px;

}
#smi-container{
    float: right;
    
}
#main-nav li{
    float: left;
}
#main-nav li a{
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding-right: 40px;
}
#main-nav li a:hover{
    text-decoration: underline;
    
}
#smi-container ul li{
    float: left;
    padding: 5px;
    margin-left: 8px;
    
}
#app-row>.container>.wrapper>.row:last-child{
    padding-top: 15px;
}

#smi-container ul li ion-icon{
    font-size: 1.2em;
    color: white;
}
#smi-container ul li:first-child{
    background-color: #3f4da1;
}
#smi-container ul li:nth-child(2){
    background-color: #57a0d7;
}
#smi-container ul li:nth-child(3){
    background-color: #57a0d7;
}
#smi-container ul li:last-child{
    background-color: #d74527;
}
/* Nav-row */
#nav-row{
    background-color: #231F20;
}
#nav-row>.container li{
    position: relative;
    z-index: 1;
    float: left;
    background-color: #231F20;
    
}
#nav-row>.container li a{
    position: relative;
    display: inline-block; 
    /* IF inline-block is not there padding will add to left and right because anchor is inline element */
    padding: 15px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

#nav-row>.container li a:hover{
    background-color: #ff9d1e;
    color: #231F20;
}

#nav-row nav li a:hover::after{
    position:absolute;
    display: block;
    content: "";
    border-top: 6px solid #ff9d1e;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    
}

/* Misc Row */
#misc-row{
    background-color: #ffde00;
}
#misc-row .container{
    height: 48px;
    text-align: right;
    background-color: #ffde00;
}
#misc-row .container button{
    height: 38px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #0f027b;
    border-radius: 4px;
    background-color: #107ece;
    font-size: 0.8125rem;
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
}
/* to vertical to align a text withing a box. line height can be equal to the height of the box */
#misc-row .container button:hover{
    background-color:#0865a9;
}

/* Footer */
footer .row{
    background-color: #808285;
}
#copyright-row{
    background-color: #ffde00;
}

#copyright-row .container{
    padding: 16px 0;
    color: #515254;
    font-size: 0.7rem;
    text-align: center;
}

footer>.row .col{
    
    float: left;
    width: 25%;
    height: 215px;
    padding-top: 20px;

}
footer>.row .col h4{
    color: white;
    padding-bottom: 16px;
}
footer>.row .col nav li{
    line-height: 1.2rem;
}
footer>.row .col nav li a{
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
}
footer>.row .col nav li a:hover{
    color: #ff9d1e;
    text-decoration: underline;
}


footer>.row .col p{
    font-size: 0.75rem;
    color: white;
    padding-bottom: 8px;
    line-height: 1.1rem;
}
footer>.row .col:last-child{
    padding-left: 15px;
    background-color: #515254;
}


#tel2{
    padding-left: 23px;
}
footer>.row{
    position: relative;
    z-index: 0;
    
}
footer>.row::after{
    position:absolute;
    display: block;
    content: "";
    width: 25%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #515254;
    z-index: -1;
}

/* Aside */
aside{
    font-weight: bold;
    background-color:#1f1f1f;
    position:fixed;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transform: rotate(270deg);
    right: -38px;
    bottom: 25%;
    z-index: 99999;
}
aside:hover{
    right: -31px
}
aside a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    
}
aside a ion-icon{
    color: black;
    font-size: 1rem;
    vertical-align: middle;
    
}
#bubble-wrapper{
    position: relative;
    display: inline-block;
    background-color: #ffde00;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    padding: 4px;
}
#bubble-wrapper::before{
    display: inline-block;
    content: "";
    background-color: #ffde00;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    width: 5px;
    height: 5px;
    animation-name: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;



}
@keyframes wave{
    from{
        transform: scale(0);
        opacity: 0.5;
    }
    to{
        transform: scale(10);
        opacity: 0.1;
    }
}

/* Main */

/* Global Presence */
main .row:first-child>.container{
    height: 90px;
}
main .row:first-child>.container>.col{
    padding: 20px 10px 0;
    height: 100%;
}
main .row:first-child>.container>.col:first-child{
    width: 75%;
    float: left;
}
main .row:first-child>.container>.col:last-child{
    width: 25%;
    float: right;
}
main .row:first-child>.container>.col:first-child>ul li{
    width: 20%;
    float: left;
    text-align: right;
}
main .row:first-child>.container>.col:first-child>ul li a{
    display: inline-block;
    color: #1f1f1f;
    text-decoration: none;
}
main .row:first-child>.container>.col:first-child>ul li a img{
    width: 77px;
    height: 45px;
    border: 3px solid transparent;
}

main .row:first-child>.container>.col:first-child>ul li a:hover img{
    border: 3px solid #ffde00;
}
main .row:first-child>.container>.col:first-child>ul li a:hover{
    text-decoration: underline;
}
main .row:first-child>.container>.col:first-child>ul li h3{
    font-size: 1.125rem;
    padding: 10px 0;
}
main .row:first-child>.container>.col:first-child>ul li .country-code{
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 0.75rem;
    
}